.gm-template-renderer .device-renderer {
    position: relative;
    border-collapse: separate;
    border-radius: 3px;
    padding: 40px 10px 40px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.gm-template-renderer .gm-video {
    background: transparent url('../../assets/images/spinner-material.svg') no-repeat center;
    width: 1024px;
    height: 600px;
    margin-right: 60px;
}

.gm-template-renderer .gm-toolbars {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
}
