/* Variables */
:root {
    --primaryColor: #e6195e;
    --errorColor: #dc3545;
    --errorBgColor: #f8d7da;
}

/* CSS helper */
.mb-1 {
    margin-bottom: 5px;
}

.mb-3 {
    margin-bottom: 15px;
}

.ml-1 {
    margin-left: 5px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-baseline {
    align-items: baseline;
}
/* global */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    font-family: sans-serif;
    font-weight: 300;
}

a {
    color: #19e6a1;
    text-decoration: none;
}

a:hover {
    color: var(--primaryColor);
}

ul {
    padding: 5px 15px;
}
hr {
    color: var(--primaryColor);
    width: 100%;
}

summary,
label {
    cursor: pointer;
}

input[type='text'] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type='checkbox'] {
    cursor: pointer;
}
.note {
    font-size: 14px;
    color: #110f0f;
    background-color: #fffacd;
    margin-bottom: 20px;
    line-height: 1.4;
    padding: 5px 10px;
    border-radius: 2px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--errorBgColor);
    color: var(--errorColor);
    text-align: center;
    margin: 0 auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    width: auto;
    flex-grow: 1;
    margin: 0px 100px;
}
#snackbar.show {
    visibility: visible;
}
/* Page */
body {
    margin: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px 0;
    background-color: #1e1e1e;
    display: flex;
    justify-content: flex-start;
}

#logo {
    height: 64px;
    min-width: 225px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./logo.png');
    margin: 0 0 0 10px;
    flex-grow: 0;
}

#main {
    display: flex;
    flex-grow: 1;
    position: relative;
}

#sidebar {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    height: calc(100vh - 84px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .actions {
    display: flex;
    justify-content: space-around;
}

#sidebar .actions > button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#advancedSettings > * {
    margin-bottom: 10px;
}

#player {
    background-color: #1a1a1a;
    color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    flex-grow: 1;
    max-height: calc(100vh - 84px);
}

#fe-player .gm-toolbar {
    background-color: #1e1e1e;
}
#fe-player .gm-video-wrapper {
    padding: 10px 0 10px 10px;
}
