.gm_fullwindow {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 97%;
    min-height: 560px;
    background-color: black;
}

.gm_fullwindow .gm-video {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(95% - 50px);
    height: 100%;
    padding: 0;
}

.gm_fullwindow .toolbar {
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 10px;
    margin: 0;
    width: 50px;
}
