@use '../base/variables' as *;

/**
 * Baseband plugin styles
 */
.device-renderer-instance .gm-baseband-plugin {
    .gm-baseband-saved {
        .gm-actions {
            .gm-tag-success {
                visibility: visible;
            }
        }
    }

    .gm-network-operator-section-line,
    .gm-sim-operator-section-line {
        display: flex;
        gap: $spacing-xl;
        /*margin-bottom: $spacing-m;*/
    }
    .gm-network-operator-section-title {
        color: var(--gm-on-secondary-color);
        display: flex;
        align-items: center;
        font-weight: bolder;
        margin-bottom: $spacing-m;
        &::before {
            content: ' ';
            width: 30px;
            height: 30px;
            background-color: var(--gm-on-secondary-color);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            mask-image: url('../assets/images/ic_world.svg');
            -webkit-mask-image: url('../assets/images/ic_world.svg');
        }
    }

    .gm-sim-operator-section-title {
        color: var(--gm-on-secondary-color);
        display: flex;
        align-items: center;
        font-weight: bolder;
        margin-bottom: $spacing-m;

        &::before {
            content: ' ';
            width: 30px;
            height: 30px;
            background-color: var(--gm-on-secondary-color);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            mask-image: url('../assets/images/ic_baseband.svg');
            -webkit-mask-image: url('../assets/images/ic_baseband.svg');
        }
    }
    .gm-actions {
        .gm-tag-success {
            visibility: hidden;
        }
    }
}
