/**
 * Clipboard plugin styles
 */
.device-renderer-instance .gm-clipboard-plugin {
    .gm {
        &-modal-body {
            display: flex;
            flex-direction: column;
        }

        &-clipboard-saved {
            .gm-actions {
                .gm-tag-success {
                    visibility: visible;
                }
            }
        }

        &-clipboard-text {
            margin: $spacing-s 0;
        }

        &-clipboard-input {
            margin-top: $spacing-s;
            margin-bottom: $spacing-s;
            flex: 1;
        }
        &-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .gm-clipboard-apply {
                display: flex;
                align-items: center;
            }
            .gm-clipboard-apply::before {
                content: '';
                mask-image: url('../assets/images/ic_copy.svg');
                -webkit-mask-image: url('../assets/images/ic_copy.svg');
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                background: currentColor;
                width: 32px;
                height: 32px;
            }
            .gm-tag-success {
                visibility: hidden;
            }
        }
    }
}
