/**
 * Clipboard plugin styles
 */
.device-renderer-instance .gm-clipboard-plugin {
    .gm {
        &-clipboard-input {
            min-height: 300px;
            resize: none;
            color: $black !important;
            background-color: $white !important;
        }

        &-text-copied {
            padding: 15px 0 0 30px;
            transition: opacity 0.5s ease-in-out;
            background: url('../assets/images/ic_clipboard_inactive.svg') no-repeat left 10px !important;
        }
    }
}
