/**
 * Clipboard plugin styles
 */
.device-renderer-instance .gm-clipboard-plugin {
    .gm {
        &-clipboard-input {
            min-height: 300px;
            resize: none;

            color: var(--gm-input-text-color);
            background-color: var(---gm-input-bg-color);
        }

        &-text-copied {
            padding: 15px 0 0 30px;
            transition: opacity 0.5s ease-in-out;
            background: url('../assets/images/ic_clipboard_inactive.svg') no-repeat left 10px !important;
        }
    }
}
