.dropdown {
    position: relative;
    font-family: Arial, sans-serif;
    &.open {
        .dropdown-menu {
            display: block;
        }
        .dropdown-selected {
            border-color: var(--gm-primary-color);
            border-width: 2px;
            &::after {
                transform: rotate(-45deg);
            }
    
        }
    }
    
    .dropdown-selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 15px 0px;
        cursor: pointer;
        
        transition: transform 0.2s ease;
        transition: border-color 0.2s ease;
        border-bottom: 1px solid var(--gm-tertiary-variant-color); 

        &::after {
            content: '';
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border: solid var(--gm-on-secondary-color);
            border-width: 2px 2px 0 0;
            transform: rotate(135deg);
            transform-origin: center;
            transition: transform 0.2s ease;
        }
    }
        
    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        margin-top: 5px;
        
        padding: 10px 0;
        gap: 6px;
        border-radius: 4px;
        background-color: var(--gm-secondary-variant-color);

        .dropdown-item {
            padding: 16px 20px;
            cursor: pointer;
            .dropdown-checkmark{
                background-color: var(--gm-on-secondary-color);
                mask-image: url('../assets/images/ic_check.svg');
                -webkit-mask-image: url('../assets/images/ic_check.svg');
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                width: 22px;
                height: 22px;
            }
        }
        
        .dropdown-item:hover {
            background: var(--gm-background-color);
        }

    }
    
}

