@use '../base/variables' as *;

/**
 * Fullscreen plugin styles
 */
.device-renderer-instance .gm-fingerprint-plugin {
    .gm-fingerprint-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .gm-fingerprint-dialog-header {
            .gm-fingerprint-dialog-auth-required {
                display: flex;
                justify-content: space-between;
                margin-bottom: $spacing-l;
            }
            .gm-fingerprint-dialog-auth-required-status {
                height: 27px;
                width: 65px;
                border-radius: 15px;
                padding: 0 $spacing-s;
                background-color: var(--gm-background-error-color);
                color: var(--gm-error-color);
                display: flex;
                justify-content: space-around;
                align-items: center;
                &::before {
                    content: attr(data-text);
                }
                &::after {
                    content: '✖';
                }
                pointer-events: none;
                &.active {
                    pointer-events: all;
                    background-color: var(--gm-background-success-color);
                    color: var(--gm-success-color);
                    &::before {
                        content: attr(data-text);
                    }
                    &::after {
                        content: '✔';
                    }
                }
            }
            .gm-fingerprint-dialog-recognized-fp-by-default {
                display: flex;
                justify-content: space-between;
                margin-bottom: $spacing-l;
                .autoValidationSwitch {
                    margin-right: 3px;
                }
            }
        }

        .gm-fingerprint-dialog-body {
            display: flex;
            flex-grow: 1;
            margin: $spacing-l 0;

            .gm-fingerprint-dialog-buttons {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto;
                gap: $spacing-xl;
                width: 100%;

                .gm-fingerprint-dialog-button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 0 auto;
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    &:hover {
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: var(--gm-secondary-variant-color);
                            border-radius: 8px;
                            z-index: -1;
                        }
                        span {
                            color: var(--gm-primary-color);
                        }
                        [class*='gm-'][class*='-fingerprint-image'] {
                            background-color: var(--gm-primary-color);
                        }
                    }
                    &.disabled {
                        opacity: 0.5;
                        pointer-events: none;
                    }
                    &.gm-loader::after {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }

                    [class*='gm-'][class*='-fingerprint-image'] {
                        width: 48px;
                        height: 48px;
                        margin-bottom: $spacing-s;

                        background-color: var(--gm-on-secondary-color);
                        -webkit-mask-size: contain;
                        mask-size: contain;
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        mask-position: center;
                    }
                    .gm-recognized-fingerprint-image {
                        mask-image: url('../assets/images/ic_fingerprint_recognized.svg');
                        -webkit-mask-image: url('../assets/images/ic_fingerprint_recognized.svg');
                    }
                    // Unrecognized sensor
                    .gm-unrecognized-fingerprint-image {
                        mask-image: url('../assets/images/ic_fingerprint_unrecognized.svg');
                        -webkit-mask-image: url('../assets/images/ic_fingerprint_unrecognized.svg');
                    }
                    // Dirty sensor
                    .gm-dirty-sensor-fingerprint-image {
                        mask-image: url('../assets/images/ic_fingerprint_dirty.svg');
                        -webkit-mask-image: url('../assets/images/ic_fingerprint_dirty.svg');
                    }
                    // Too fast
                    .gm-too-fast-fingerprint-image {
                        mask-image: url('../assets/images/ic_fingerprint_toofast.svg');
                        -webkit-mask-image: url('../assets/images/ic_fingerprint_toofast.svg');
                    }
                    // Partial fingerprint
                    .gm-partial-fingerprint-image {
                        mask-image: url('../assets/images/ic_fingerprint_partial.svg');
                        -webkit-mask-image: url('../assets/images/ic_fingerprint_partial.svg');
                    }
                    // Insufficient fingerprint
                    .gm-insufficient-fingerprint-image {
                        mask-image: url('../assets/images/ic_fingerprint_insufficient.svg');
                        -webkit-mask-image: url('../assets/images/ic_fingerprint_insufficient.svg');
                    }
                    span {
                        margin-top: $spacing-s;
                        font-size: 13px;
                        color: var(--gm-on-secondary-color);
                    }
                }
            }
        }
        .gm-fingerprint-dialog-footer {
            margin-top: $spacing-l;
        }
    }
}
