/**
 * Fullscreen plugin styles
 */
.device-renderer-instance .gm-fingerprint-plugin {
  .gm-fingerprint-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .gm-fingerprint-dialog-header {
      .gm-fingerprint-dialog-auth-required {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-l;
      }
      .gm-fingerprint-dialog-auth-required-status {
        height: 27px;
        width: 65px;
        border-radius: 15px;
        padding: 0 8px;
        background-color: #2A151C;
        color: $accent-color-light;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &::before {
          content: attr(data-text);
        }
        &::after {
          content: "✖";
        }
        pointer-events: none;
        &.active {
          pointer-events: all;
          background-color: #152616;
          color: #11b920;
          &::before {
            content: attr(data-text);
          }
          &::after {
            content: "✔";
          }
        }
      }
      .gm-fingerprint-dialog-recognized-fp-by-default {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-l;
      }
    }

    .gm-fingerprint-dialog-body {
      display: flex;
      flex-grow: 1;
      margin: $spacing-l 0;

      .gm-fingerprint-dialog-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        width: 100%;
       
        .gm-fingerprint-dialog-button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 0 auto;
          padding: 15px 0;
          width: 80%;
          cursor: pointer;
          &:hover {
            background: #2c2C2C;
            border-radius: 15px;
            margin: 0 auto;
          }
          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }
          &.gm-loader::after {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0;
            left: auto;
            top: 0;
            margin: 10px;
          }
        
          [class*="gm-"][class*="-fingerprint-image"] {
            width: 55px;
            height: 55px;
            background-size: 55px;
          }
          .gm-recognized-fingerprint-image {
            background: url("../assets/images/ic_fingerprint_recognized.svg") no-repeat center;
          }
          // Unrecognized sensor
          .gm-unrecognized-fingerprint-image {
            background: url("../assets/images/ic_fingerprint_unrecognized.svg") no-repeat center;
          }
          // Dirty sensor
          .gm-dirty-fingerprint-image {
            background: url("../assets/images/ic_fingerprint_dirty.svg") no-repeat center;
          }
          // Too fast
          .gm-too-fast-fingerprint-image {
            background: url("../assets/images/ic_fingerprint_toofast.svg") no-repeat center;
          }
          // Partial fingerprint
          .gm-partial-fingerprint-image {
            background: url("../assets/images/ic_fingerprint_partial.svg") no-repeat center;
          }
          // Insufficient fingerprint
          .gm-insufficient-fingerprint-image {
            background: url("../assets/images/ic_fingerprint_insufficient.svg") no-repeat center;
          }
        }
      }
    }
    .gm-fingerprint-dialog-footer{
      margin-top: $spacing-l;
      .gm-fingerprint-dialog-give-feedback {
        a {
          display: flex;
          color: #fff;
          &::before{
            content: '';
            width: 20px;
            height: 20px;
            margin-right: $spacing-s;
            background-image: url("../assets/images/ic_feedback.svg");
            display: block;
            
          }
          &:hover{
            cursor: pointer;
            color: $accent-color-light;
            &::before{
              background-image: url("../assets/images/ic_feedback_hover.svg");
            }
          }
        }
      }
    }
  }
}
