@use '../base/variables' as *;

.device-renderer-instance {
    .gm-gapps-plugin {
        [class^='gm-'][class$='-icon'] {
            display: block;
            width: 30px;
            height: 30px;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            background-color: var(--gm-on-secondary-color);
        }

        .gm-gapps-views-container {
            height: 100%;
        }

        .initial-view-container {
            height: 100%;
    
            .gm-gapps-text {
                padding-bottom: $spacing-s;
            }
    
            .gm-gapps-status {
                font-weight: 900;
            }
    
            .gm-actions {
                padding-bottom: $spacing-s;
            }
    
            .gm-gapps-icon {
                margin-right: $spacing-s;
                mask-image: url('../assets/images/ic_gapps.svg');
                -webkit-mask-image: url('../assets/images/ic_gapps.svg');
            }
    
            .gm-downloadFile-icon {
                margin-right: $spacing-s;
                mask-image: url('../assets/images/ic_download_file.svg');
                -webkit-mask-image: url('../assets/images/ic_download_file.svg');
            }
    
            .gm-gapps-installed-status {
                display: flex;
                align-items: center;
                gap: $spacing-s;
                font-weight: 900;
    
                .gm-check-icon {
                    mask-image: url('../assets/images/ic_check.svg');
                    -webkit-mask-image: url('../assets/images/ic_check.svg');
                    background-color: var(--gm-success-color);
                }
            }
    
            .gm-apk-title {
                display: flex;
                align-items: center;
                padding-top: $spacing-s;
                font-weight: 900;
            }
        }
    
        .disclaimer-view-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            .gm-warning-icon {
                mask-image: url('../assets/images/ic_alert.svg');
                -webkit-mask-image: url('../assets/images/ic_alert.svg');
            }
            .gm-disclaimer-header {
                display: flex;
                align-items: center;
                margin-bottom: $spacing-m;
            }
            .gm-disclaimer-text {
                flex: 1;
            }
    
            .gm-disclaimer-actions {
                justify-content: flex-end;
                gap: $spacing-s;
            }
        }
    
        .installing-gapps-view-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            .gm-progress-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 $spacing-xl;
    
                .gm-droid-icon {
                    width: 48px;
                    height: 48px;
                    mask-image: url('../assets/images/ic_droid.svg');
                    -webkit-mask-image: url('../assets/images/ic_droid.svg');
                    background-color: var(--gm-tertiary-color);
                }
    
                .gm-progress-text-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: $spacing-m 0;
                }
            }
            .gm-progress-actions {
                justify-content: flex-end;
                gap: $spacing-s;
            }
        }
    
        .installation-success-view-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            .gm-success-message-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                .gm-success-icon {
                    background-color: var(--gm-success-color);
                    mask-image: url('../assets/images/ic_check.svg');
                    -webkit-mask-image: url('../assets/images/ic_check.svg');
                    margin-bottom: $spacing-m;
                }
                .gm-success-text {
                    font-weight: bold;
                    margin-bottom: $spacing-m;
                }
                .gm-success-description {
                    text-align: center;
                }
            }
            .gm-success-actions {
                justify-content: flex-end;
                gap: $spacing-s;
            }
        }

        .installation-failed-view-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            .gm-failed-message-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                .gm-failed-icon {
                    background-color: var(--gm-error-color);
                    mask-image: url('../assets/images/ic_alert.svg');
                    -webkit-mask-image: url('../assets/images/ic_alert.svg');
                    margin-bottom: $spacing-m;
                }
    
                .gm-failed-text {
                    font-weight: bold;
                    margin-bottom: $spacing-m;
                }
                .gm-failed-description {
                    text-align: center;
                }
            }
            .gm-failed-actions {
                justify-content: flex-end;
                gap: $spacing-s;
            }
        }
    }
}

