/**
 * GPS plugin styles
 */
.device-renderer-instance .gm-gps-plugin {
    .gm-mapview {
        height: 222px;
        width: 100%;
        overflow: hidden;
    }

    .gm-gps-setToMyPosition-wrapper {
        display: flex;
        justify-content: end;

        .gm-gps-setToMyPosition {
            display: flex;
            align-items: center;

            &:hover {
                &:before {
                    background-color: var(--gm-primary-color);
                }
            }
            &:before {
                content: '';
                width: 30px;
                height: 30px;
                background-color: var(--gm-on-secondary-color);
                mask-image: url('../assets/images/ic_target_location.svg');
                -webkit-mask-image: url('../assets/images/ic_target_location.svg');
                mask-size: contain;
                -webkit-mask-size: contain;
                mask-repeat: no-repeat;
                -webkit-mask-repeat: no-repeat;
                mask-position: center;
                -webkit-mask-position: center;
            }
        }
    }

    .gm-section {
        margin-bottom: $spacing-m;
        .gm-gps-bearing-input-wrapper {
            display: flex;
            align-self: center;
            justify-content: space-between;
            .gm-gps-bearing-icon {
                width: 30px;
                height: 30px;
                background-color: var(--gm-on-secondary-color);
                mask-image: url('../assets/images/ic_compass.svg');
                -webkit-mask-image: url('../assets/images/ic_compass.svg');
                mask-size: contain;
                -webkit-mask-size: contain;
                mask-repeat: no-repeat;
                -webkit-mask-repeat: no-repeat;
                mask-position: center;
                -webkit-mask-position: center;
            }
            .gm-gps-bearing-input {
                width: 47px;
            }
        }
    }

    .gm-gps-section-line {
        display: flex;
        gap: $spacing-xl;
    }

    .gm-input-wrap {
        flex: 1;
    }

    .gm-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .gm-tag-success {
            visibility: hidden;
        }
    }

    &.gm-gps-saved {
        .gm-tag-success {
            visibility: visible;
        }
    }
}
