/**
 * GPS plugin styles
 */
.device-renderer-instance .gm-gps-plugin {
    .gm-mapview {
        height: 222px;
        width: 100%;
        overflow: hidden;
    }

    .gm-gps-setToMyPosition-wrapper {
        display: flex;
        justify-content: end;

        .gm-gps-setToMyPosition {
            display: flex;
            align-items: center;

            &:hover {
                &:before {
                    background-color: var(--gm-primary-color);
                }
            }
            &:before {
                content: '';
                width: 30px;
                height: 30px;
                background-color: var(--gm-on-secondary-color);
                mask-image: url('../assets/images/ic_target_location.svg');
                -webkit-mask-image: url('../assets/images/ic_target_location.svg');
                mask-size: contain;
                -webkit-mask-size: contain;
                mask-repeat: no-repeat;
                -webkit-mask-repeat: no-repeat;
                mask-position: center;
                -webkit-mask-position: center;
            }
        }
    }

    .gm-section {
        margin-bottom: $spacing-m;
        .gm-gps-section-line {
            display: flex;
            gap: $spacing-xl;
        }

        .gm-input-wrap {
            flex: 1;
        }
        [class*='gm-gps-'][class*='-input-wrapper'] {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .gm-gps-bearing-slider,
            .gm-gps-accuracy-slider {
                width: 112px;
                margin-top: 12px;
            }
            .gm-gps-bearing-input,
            .gm-gps-accuracy-input {
                width: 47px;
                min-width: 47px;
            }
        }
    }

    .gm-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .gm-tag-success {
            visibility: hidden;
        }
    }

    // TODO check ca
    &.gm-gps-saved {
        .gm-tag-success {
            visibility: visible;
        }
    }
}
