/**
 * GPS plugin styles
 */
.device-renderer-instance .gm-gps {
    &-controls {
        label {
            margin-top: 10px;
        }

        input {
            &.gm-error {
                border-bottom: 1px solid $btn-background-color;
            }
        }
    }

    &-submit {
        margin-top: 10px;
    }

    &-geoloc {
        margin-top: 10px;
    }

    &-mapview {
        height: 460px;

        .gm-mapview {
            position: absolute;
            bottom: 76px;
            left: 26px;
            right: 26px;
            top: 26px;
            background-color: $white;
        }

        .gm-gps-mapview-capture {
            position: absolute;
            bottom: 20px;
            left: calc(50% + 80px);
        }

        .gm-gps-mapview-cancel {
            position: absolute;
            bottom: 20px;
            right: calc(50% + 80px);
        }
    }
}
