/**
 * Identifiers (IMEI) plugin styles
 */
.device-renderer-instance .gm-identifiers-plugin {
    .gm-identifier-device,
    .gm-identifier-android {
        .gm-description {
            font-size: 90%;
            padding-left: 10px;
        }

        margin-bottom: 16px;

        .gm-input-group {
            display: flex;

            button {
                margin-top: -5px;
            }
        }
    }

    input {
        margin-right: 6px;
        flex: 1;

        &.gm-error {
            border-bottom: 1px solid $btn-background-color;
        }
    }
}
