@use '../base/variables' as *;

/**
 * Identifiers (IMEI) plugin styles
 */
.device-renderer-instance .gm-identifiers-plugin {
    .gm-modal-body {
        display: flex;
        flex-direction: column;
    }

    .gm-identifiers-saved {
        .gm-actions {
            .gm-tag-success {
                visibility: visible;
            }
        }
    }

    .gm-inputs {
        flex: 1;
        .gm-identifier-android,
        .gm-identifier-device {
            display: flex;
            justify-content: space-between;
            gap: $spacing-gap;
            align-items: center;
            margin-bottom: $spacing-s;
            padding-bottom: $spacing-s;
            .gm-identifiers-device-input,
            .gm-identifiers-android-input {
                flex: 1;
            }
            .gm-identifiers-android-generate,
            .gm-identifiers-device-generate {
                mask-image: url('../assets/images/ic_generate.svg');
                -webkit-mask-image: url('../assets/images/ic_generate.svg');
                background-color: var(--gm-on-secondary-color);
                cursor: pointer;
            }
        }
    }
    .gm-actions {
        .gm-tag-success {
            visibility: hidden;
        }
    }
}
