/**
 * IO Throttling plugin styles
 */
.device-renderer-instance .gm-iothrottling-plugin {

    .gm-noThrottling,
    .gm-customThrottling {
        display: none;
    }
    .gm-iothrottling-none {
        .gm-units,
        .gm-iothrottling-readbyterate {
            display: none;
        }
        .gm-noThrottling {
            display: block;
        }
    }
    .gm-iothrottling-custom {
        .gm-customThrottling {
            display: block;
            //text italic
            font-style: italic;
            margin-top: $spacing-m;
        }
    }

    .gm-iothrottling-cache-cleared{
        .gm-iothrottling-clearcache{
            label {        
                animation: blink-alert 1.5s ease-in-out
            }
        }
    }

    .gm-tag-success {
        display: none;
    }
    .gm-iothrottling-notapplied-text {
        display: block;
    }
    .gm-iothrottling-saved {
        .gm-tag-success {
            display: block;
        }
        .gm-iothrottling-notapplied-text {
            display: none;
        }
    }

    .gm-modal-body {
        display: flex;
        flex-direction: column;
    }

    .gm-fields {
        margin-top: $spacing-m;
        min-height: 40px;
        flex: 1;
        font-size: 13px;

        .gm-fields-container{
            display: flex;
            align-items: center;
            gap: 10px;
            .gm-iothrottling-readbyterate{
                width: 49px;
                input{
                    text-align: center;
                }
            }
            .gm-units{
                margin-left: 20px;
            }
        }
    }

    .gm-iothrottling-clearcache{
        label{
            margin-bottom: 0;
        }
    }
    .gm-iothrottling-clearcache,
    .gm-iothrottling-apply{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        .gm-iothrottling-status{
            display: flex;
            align-items: center;
            gap: 5px;
            .gm-iothrottling-notapplied-text{
                font-style: italic;
                color:  #7f7f7f // TODO

            }
        }
    }
}
