@use '../base/variables' as *;

/**
 * IO Throttling plugin styles
 */
.device-renderer-instance .gm-iothrottling-plugin {
    .gm-noThrottling {
        display: none;
    }
    .gm-iothrottling-none {
        .gm-units,
        .gm-iothrottling-readbyterate {
            display: none;
        }
        .gm-noThrottling {
            display: block;
        }
    }

    .gm-iothrottling-cache-cleared {
        .gm-iothrottling-clearcache {
            label {
                animation: blink-alert 1.5s ease-in-out;
            }
        }
    }

    .gm-tag-success {
        display: none;
    }

    .gm-iothrottling-saved {
        .gm-tag-success {
            display: block;
        }
    }

    .gm-modal-body {
        display: flex;
        flex-direction: column;
    }

    .gm-fields {
        margin-top: $spacing-l;
        margin-bottom: $spacing-s;
        min-height: 34px;
        height: 34px;
        flex: 1;
        font-size: 13px;

        .gm-fields-container {
            display: flex;
            align-items: center;
            gap: 10px;
            /* override the input error component css to keep the vertical align */
            .text-input-bottom{
                position: absolute;
                width: 96px;
            }
            .gm-iothrottling-readbyterate {
                width: 96px;
                input {
                    text-align: center;
                }
            }
            .gm-units {
                margin-left: 8px;
            }
        }
    }

    .gm-iothrottling-apply {
        margin-bottom: $spacing-s;
    }
    .gm-iothrottling-clearcache {
        label {
            padding-bottom: 0;
        }
    }
}
