@use '../base/variables' as *;

/**
 * Network plugin styles
 */
.device-renderer-instance .gm-network-plugin {
    .gm-network-wifi-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-s * 2;
        margin-top: $spacing-s;
    }
    .gm-mobile-data-switch {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-l;
        margin-bottom: $spacing-s * 2;
    }

    .gm-network-type-dropdown {
        margin-bottom: $spacing-xl;
        .dropdown-menu {
            .dropdown-item {
                display: flex;
                align-items: center;
                .gm-network-profile-icon {
                    width: 30px;
                    height: 30px;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    background-color: var(--gm-on-secondary-color);

                    &.unlimited {
                        mask-image: url('../assets/images/ic_network-type-unlimited.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-unlimited.svg');
                    }
                    &.five-G {
                        mask-image: url('../assets/images/ic_network-type-5G.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-5G.svg');
                    }
                    &.four-G {
                        mask-image: url('../assets/images/ic_network-type-4G.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-4G.svg');
                    }
                    &.three-G {
                        mask-image: url('../assets/images/ic_network-type-3G.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-3G.svg');
                    }
                    &.two-G-edge {
                        mask-image: url('../assets/images/ic_network-type-2G-edge.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-2G-edge.svg');
                    }
                    &.two-G-gprs {
                        mask-image: url('../assets/images/ic_network-type-2G-gprs.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-2G-gprs.svg');
                    }
                    &.two-G-gsm {
                        mask-image: url('../assets/images/ic_network-type-2G-gsm.svg');
                        -webkit-mask-image: url('../assets/images/ic_network-type-2G-gsm.svg');
                    }
                }
            }
        }
    }

    .gm-network-mobile-section {
        .gm-signal-strength-dropdown {
            margin-bottom: $spacing-xl;
        }
        &.disabled {
            label,
            section {
                color: var(--gm-tertiary-color);
            }
        }
        &.disabledDetails {
            section,
            .gm-signal-strength-label {
                color: var(--gm-tertiary-color);
            }
        }
    }
}
