/**
 * Phone plugin styles
 */
.device-renderer-instance .gm-phone-plugin {
    .gm-phone-group {
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-m;
        .gm-phone-call,
        .gm-phone-send {
            align-self: flex-end;
        }
        .gm-phone-message {
            margin-bottom: $spacing-m;
        }
    }
}
