/**
 * Phone plugin styles
 */
.gm-player-instance .gm-phone-plugin {
  .gm-phone-group {
    &:first-child {
      margin-bottom: 12px;
    }
  }

  input, textarea {
    margin-bottom: 4px;
  }

  textarea {
    resize: none;
    width: 100%;
  }
}
