/**
 * Phone plugin styles
 */
.device-renderer-instance .gm-phone-plugin {
    .gm-phone-group {
        display: flex;
        flex-direction: column;
        margin-bottom: $modal-section-mb;
        .gm-phone-call,
        .gm-phone-send {
            margin-top: $spacing-m;
            align-self: flex-end;
        }
    }
}
