/**
 * Screencast plugin styles
 */
.gm-player-instance {
  .gm-screencast-plugin {
    width: 400px;
    left: calc(50% - 200px);

    /* Extra Small Devices, Tablet or Phones */
    @media only screen and (max-width : $breakpoint-mobile) {
      max-width: 400px;
    }

    label {
      height: 32px;
      line-height: 35px;
      margin-bottom: 0;
      margin-left: 20px;
      cursor: pointer;
    }

    .disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    .gm-screenshot, .gm-screencast {
      display: inline-block;
      width: auto;
      margin-right: 50px;

      .gm-action {
        width: 32px;
        min-height: 32px;
        cursor: pointer;
        display: block;
        float: left;
        background-size: 26px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .gm-screenshot .gm-action {
      background-image: url("../assets/images/ic-screenshot_default.svg");
      
    }

    .gm-screencast .gm-action {
      background-image: url("../assets/images/ic-screencast_default.svg");

      .disabled {
        background-image: url("../assets/images/ic-screencast_disabled.svg");
        color: $btn-disabled-background;
      }
      
    }
  }

  .gm-screencast-timer {
    position: relative;
    top: -10px;
    left: -90px;
    color: #c6225a;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    pointer-events: none;
    z-index: 5;
    padding: 11px 8px 8px 8px;
    border-radius: 6px;
    width: 80px;
    background-color: $modal-background-color;
    vertical-align: middle;

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $modal-background-color;
    }
  }

  .gm-timer-hidden {
    display: none;
  }
}