.device-renderer-instance {
    .slider {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 15px;

        .slider-progress-bar {
            position: absolute;
            height: 3px;
            width: 0;
            top: calc(50% - 1.5px);
            background-color: var(--gm-primary-color);
            border-radius: 10px;
        }

        .slider-progress-bar-remaining {
            position: absolute;
            height: 3px;
            width: 100%;
            top: calc(50% - 1.5px);
            background-color: var(--gm-tertiary-variant-color);
            opacity: 0.2;
            border-radius: 10px;
        }

        .slider-cursor {
            position: absolute;
            height: 16px;
            width: 16px;
            background-color: var(--gm-primary-color);
            border-radius: 50%;
            transform: translate(-8px, -50%);
            top: 50%;
            z-index: 2;
            &:hover {
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            }
        }

        .slider-input {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            margin: 0;
            cursor: pointer;
            z-index: 3;
            padding: 0;
        }
    }
}
