.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color-mix(in srgb, var(--gm-text-color), black 45%);
    border-radius: 15px;
    transition: background-color 0.4s;
}

.switch-slider::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    bottom: -5px;
    left: -3px;
    background-color: var(--gm-text-color);
    border-radius: 50%;
    transition:
        transform 0.4s,
        background-color 0.4s;
}

/* Active state */
.switch input:checked + .switch-slider {
    background-color: color-mix(in srgb, var(--gm-primary-color), black 45%);
}

.switch input:checked + .switch-slider::before {
    background-color: var(--gm-primary-color);
    transform: translateX(26px);
}
