.text-input-container {
    border-bottom: 1px solid var(--gm-tertiary-variant-color);
    color: var(--gm-on-secondary-color);
    display: flex;
    align-items: center;
    height: 34px;

    &:has(.text-input:read-only) {
        border-bottom: 1px solid transparent;
    }

    .text-input {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        border: none;
        background-color: transparent;
        color: var(--gm-on-secondary-color);
        /*** This is the line fix bad alignment of the text in the input in Battery, for i.e. ***/
        font-size: inherit;

        &::placeholder {
            color: var(--gm-tertiary-color);
        }
        &:focus {
            outline: none;
        }

        &:read-only {
            background: var(--gm-tertiary-color);
            border: none;
            color: var(--gm-tertiary-variant-color);
        }
    }
}
