textarea {
    height: 249px;
    resize: none;
    border: none;
    padding: $spacing-m 0 0 $spacing-m;

    color: var(--gm-on-secondary-color);
    background-color: var(--gm-secondary-variant-color);
    font-size: 14px;

    &::placeholder {
        color: var(--gm-tertiary-color);
    }
    &:focus {
        outline: none;
    }
}
