/**
 * Player toolbar styles
 */
.gm-player-instance  {
  .gm-toolbar img:hover,
  .gm-streamrate-chooser img:hover {
      cursor: pointer;
  }
  
  .gm {
    &-icon-button {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        cursor: pointer;
      }
    }

    &-rotation {
      background-image: url("../assets/images/ic_rotation_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_rotation_active.svg");
      }
    }

    &-sound-up {
      background-image: url("../assets/images/ic_sound_up_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_sound_up_active.svg");
      }
    }

    &-sound-down {
      background-image: url("../assets/images/ic_sound_down_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_sound_down_active.svg");
      }
    }

    &-recent {
      background-image: url("../assets/images/ic-nav_android_multiapp_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic-nav_android_multiapp_active.svg");
      }
    }

    &-home {
      background-image: url("../assets/images/ic-nav_android_home_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic-nav_android_home_active.svg");
      }   
    }

    &-back {
      background-image: url("../assets/images/ic-nav_android_back_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic-nav_android_back_active.svg");
      }
    }

    &-battery-button {
      background-image: url("../assets/images/ic-battery_inactive.svg");
      &:hover, &.gm-active {
        background-image: url("../assets/images/ic-battery_active.svg");
      }
    }

    &-power {
      background-image: url("../assets/images/ic_icon_power_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_icon_power_active.svg");
      }
    }

    &-camera-button {
      background-image: url("../assets/images/ic_camera_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_camera_active.svg");
      }
    }

    &-camera-mic-button {
      background-image: url("../assets/images/ic_camera_mic_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_camera_mic_active.svg");
      }
    }

    &-streamres-button {
      background-image: url("../assets/images/ic-resolution_inactive.svg");
      background-color: transparent;
      outline: none;
      border: none;
      color :transparent;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        color: $white;
        background: $black !important;
      }

      &:hover {
        background-image: url("../assets/images/ic-resolution_active.svg");
      }
    }

    &-gps-button, &-gps-button.gm-active {
      background-image: url("../assets/images/ic_location_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_location_active.svg");
      }
    }

    &-fullscreen-button {
      background-image: url("../assets/images/ic_fullscreen_inactive.svg");
      &:hover {
        background-image: url("../assets/images/ic_fullscreen_active.svg");
      }  
      &.gm-active, &.gm-active:hover {
        background-image: url("../assets/images/ic_fullscreen_exit_active.svg");
      }
    }

    &-screencast-button {
      background-image: url("../assets/images/ic-screenshot_inactive.svg");
      &:hover, &.gm-active, &.gm-active:hover {
        background-image: url("../assets/images/ic-screenshot_active.svg");
      }  
    }

    &-screencast-button-recording {
      background-image: url("../assets/images/ic-screenshot_active.svg");
    }

    &-identifiers-button {
      background-image: url("../assets/images/ic_id_inactive.svg");
      &:hover, &.gm-active, &.gm-active:hover {
        background-image: url("../assets/images/ic_id_active.svg");
      }
    }

    &-network-button {
      background-image: url("../assets/images/ic_network_inactive.svg");
      &:hover, &.gm-active, &.gm-active:hover {
        background-image: url("../assets/images/ic_network_active.svg");
      }
    }

    &-iothrottling-button {
      background-image: url("../assets/images/ic_diskIO_inactive.svg");
      &:hover, &.gm-active, &.gm-active:hover {
        background-image: url("../assets/images/ic_diskIO_active.svg");
      }
    }

    &-phone-button {
      background-image: url("../assets/images/ic_textandcall_inactive.svg");
      &:hover, &.gm-active {
        background-image: url("../assets/images/ic_textandcall_active.svg");
      }
    }

    &-uploader-button {
      background-image: url("../assets/images/ic_installation_inactive.svg");
      &:hover, &.gm-active {
        background-image: url("../assets/images/ic_installation_active.svg");
      }  
    }

    &-streambitrate-button {
      background-image: url("../assets/images/hq.png");
      &:hover, &.gm-active {
        background-image: url("../assets/images/hq-over.png");
      }  
    }

    &-clipboard-button {
      background-image: url("../assets/images/ic_clipboard_inactive.svg");
      &:hover, &.gm-active {
        background-image: url("../assets/images/ic_clipboard_active.svg");
      }
    }

    &-default-turn-button {
      background-image: url("../assets/images/ic_warning.svg");
    }
  }
}
