/**
 * Turn server plugin styles
 */

.device-renderer-instance { 
    .gm-default-turn-used {
        
        position: absolute;
        left: -305px;
        color: $white;
        font-size: 1em;
        font-family: Helvetica, sans-serif;
        pointer-events: none;
        z-index: 5;
        border-radius: 6px;
        width: 290px;
        background-color: $modal-background-color;
        vertical-align: middle;
        padding: 11px 8px 20px;
        margin-top: -83px;

        &.gm-hidden {
            display: none;
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: 0;
            right: -17px; 
            margin-top: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent $modal-background-color;
        }

        h1 {
            font-size: 1.1em;
            color: $accent-color-light;
            padding-bottom: 5px;

            span {
                font-weight: bolder;
                font-size: 1.2em;
            }
        }
    }
}