/**
 * Turn server plugin styles
 */

.device-renderer-instance .gm-default-turn-button {
  text-decoration: none;

  .gm-default-turn-used {
    position: relative;
    top: -48px;
    left: -305px;
    color: $white;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    pointer-events: none;
    z-index: 5;
    border-radius: 6px;
    width: 290px;
    background-color: $modal-background-color;
    vertical-align: middle;
    padding: 11px 8px 20px;

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent transparent $modal-background-color;
    }

    h1 {
      font-size: 1.1em;
      color: $accent-color-light;
      padding-bottom: 5px;

      span {
        font-weight: bolder;
        font-size: 1.2em;
      }
    }
  }

  .gm-hidden {
      display: none;
  }
}
