/**
 * Upload plugin styles
 */
.device-renderer-instance {
    .gm {
        &-upload-progress {
            display: block;
            position: absolute;
            left: 5%;
            top: 5%;
            z-index: 1;
        }

        &-custom-file-upload {
            display: inline;
        }

        &-upload-main {
            text-align: center;

            &-img {
                width: 58px;
                margin-top: 30px;
            }

            &-txt {
                margin-top: 15px;
                font-size: 16px;
            }
        }

        &-upload-disclaimer {
            &-txt {
                height: 336px;
                overflow: auto;
                margin-top: 30px;
            }

            &-txt::-webkit-scrollbar {
                width: 20px;
            }

            &-txt::-webkit-scrollbar-track {
                background: #45474d;
                border-left: 9px solid var(--gm-modal-bg-color);
                border-right: 9px solid var(--gm-modal-bg-color);
            }

            &-txt::-webkit-scrollbar-thumb {
                background: white;
                border-left: 8px solid var(--gm-modal-bg-color);
                border-right: 8px solid var(--gm-modal-bg-color);
                border-radius: 9px;
            }
        }

        &-upload-in-progress {
            margin-top: 30px;
            padding-right: 30px;
            padding-left: 30px;

            &-txt-progress {
                display: inline-block;
            }

            &-txt-percent {
                display: block;
                float: right;
            }

            &-bg-percent {
                height: 3px;
                background-color: #d8d8d8;
                margin-top: 5px;
            }

            &-percent {
                height: 3px;
                background-color: var(--gm-btn-bg-color);
            }
        }

        &-upload-error {
            text-align: center;
            margin-top: 30px;

            &-img {
                width: 58px;
            }

            &-caption {
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 30px;
            }

            &-button {
                margin-top: 26px;
                display: inline-block;
                padding: 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
                color: var(--gm-text-color);
                background-color: var(--gm-btn-bg-color);
                border-radius: 2px;
                margin-bottom: 10px;

                &:hover {
                    background-color: var(--gm-btn-bg-color-hover);
                    color: var(--gm-text-color);
                }
            }
        }

        &-upload-success {
            text-align: center;
            margin-top: 30px;

            &-img {
                width: 58px;
            }

            &-txt {
                font-size: 16px;
            }

            &-caption {
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 30px;
            }

            &-button {
                margin-top: 26px;
                display: inline-block;
                padding: 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
                color: var(--gm-text-color);
                background-color: var(--gm-btn-bg-color);
                border-radius: 2px;
                margin-bottom: 10px;

                &:hover {
                    background-color: var(--gm-btn-bg-color-hover);
                    color: var(--gm-text-color);
                }
            }
        }

        &-upload-main-bottom-buttons {
            float: right;
            margin-top: 30px;

            &-left,
            &-right {
                display: inline-block;
                padding: 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
                color: var(--gm-text-color);
                background-color: var(--gm-btn-bg-color);
                border-radius: 2px;
                &:hover {
                    background-color: var(--gm-btn-bg-color-hover);
                    color: var(--gm-text-color);
                }
            }

            &-left {
                margin-right: 15px;
            }
        }

        &-upload-main-bottom-buttons-disabled,
        &-upload-main-bottom-buttons-disabled:hover {
            cursor: default;
            color: var(--gm-btn-bg-color-disabled);
            background-color: var(--gm-btn-bg-color-disabled);
        }

        &-upload-title {
            font-weight: bold;
            font-size: 20px;
        }

        &-uploader-plugin {
            width: 640px;
        }
    }

    input[type='file'] {
        display: none;
    }
}
