/**
 * File upload plugin styles
 */
.gm-player-instance .gm-uploader-content {
  .gm {
    &-upload-icon {
      display: inline-block;
      height: 39px;
      width: 58px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &-upload-main-img {
      background-image: url("../assets/images/ic_cloud_upload.svg");
    }

    &-upload-success-img {
      background-image: url("../assets/images/ic_cloud_upload_congralutation.svg");
    }

    &-upload-error-img {
      background-image: url("../assets/images/ic_cloud_upload_failed.svg");
    }
  }
}
