/**
 * Upload plugin styles
 */
.gm-player-instance {
  .gm {
    &-wrapper {
      display: inline-block;
      border: 10px solid transparent;
    }

    &-dragover {
      border: 10px solid $accent-color-light;
    }

    &-upload-progress {
      display: block;
      position: absolute;
      left: 5%;
      top: 5%;
      z-index: 1;
    }

    &-custom-file-upload {
      display: inline;
    }

    &-upload-main {
      text-align: center;

      &-img {
          width: 58px;
          margin-top: 30px;
      }

      &-txt {
          margin-top: 15px;
          font-size: 16px;
      }
    }

    &-upload-disclaimer {
      &-txt {
        height: 336px;
        overflow: auto;
        margin-top: 30px;
      }

      &-txt::-webkit-scrollbar {
        width: 20px;
      }

      &-txt::-webkit-scrollbar-track {
        background: #45474D;
        border-left: 9px solid $modal-background-color;
        border-right: 9px solid $modal-background-color;
      }

      &-txt::-webkit-scrollbar-thumb {
        background: white;
        border-left: 8px solid $modal-background-color;
        border-right: 8px solid $modal-background-color;
        border-radius: 9px;
      }
    }

    &-upload-in-progress {
      margin-top: 30px;
      padding-right: 30px;
      padding-left: 30px;

      &-txt-progress {
        display: inline-block;
      }

      &-txt-percent {
        display: block;
        float: right;
      }

      &-bg-percent {
        height: 3px;
        background-color: #D8D8D8;
        margin-top: 5px;
      }

      &-percent {
        height: 3px;
        background-color: $btn-background-color;
      }
    }

    &-upload-error {
      text-align: center;
      margin-top: 30px;

      &-img {
        width: 58px;
      }

      &-caption {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 30px;
      }

      &-button {
        margin-top: 26px;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        color: $white;
        background-color: $btn-background-color;
        border-radius: 2px;
        margin-bottom: 10px;

        &:hover {
          background-color: $btn-background-color-hover;
          color: $white;
        }
      }
    }

    &-upload-success {
      text-align: center;
      margin-top: 30px;

      &-img {
        width: 58px;
      }

      &-txt {
        font-size: 16px;
      }

      &-caption {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 30px;
      }

      &-button {
        margin-top: 26px;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        color: $white;
        background-color: $btn-background-color;
        border-radius: 2px;
        margin-bottom: 10px;

        &:hover {
          background-color: $btn-background-color-hover;
          color: $white;
        }
      }    
    }

    &-upload-main-bottom-buttons {
      float: right;
      margin-top: 30px;

      &-left, &-right {
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        color: $white;
        background-color: $btn-background-color;
        border-radius: 2px;
        &:hover {
          background-color: $btn-background-color-hover;
          color: $white;
        }
      }

      &-left {
        margin-right: 15px;
      }
    }

    &-upload-main-bottom-buttons-disabled, &-upload-main-bottom-buttons-disabled:hover {
      cursor: default;
      color: $btn-disabled-color;
      background-color: $btn-disabled-background;
    }

    &-upload-title {
      font-weight: bold;
      font-size: 20px;
    }

    &-uploader-plugin {
      min-height: unset;
      width: 640px;
    }
  }

  input[type="file"] {
    display: none;
  }
}
