/**
 * Widget window styles
 */
.gm-overlay {
    font-family: Helvetica, sans-serif;
    text-align: left;
    position: absolute;
    padding: 25px;
    width: 500px;
    left: calc(50% - 250px);
    min-height: 400px;
    top: 50px;
    background-color: var(--gm-modal-bg-color);
    color: var(--gm-text-color);
    border: none;
    border-radius: 2px;

    @media only screen and (max-width: $breakpoint-mobile) {
        max-width: 500px;
        width: calc(80% - 40px) !important;
        left: 10% !important;
    }

    transition: top 0.4s;
    -webkit-transition: top 0.25s ease-out;

    &.gm-hidden {
        top: -1000px;
    }

    .gm-wrap:after,
    .gm-horizontal:after {
        display: table;
        content: ' ';
        clear: both;
    }

    .gm-col {
        width: 50%;
        float: left;
        padding: 0 5px;
    }

    .gm-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .gm-horizontal {
        margin: 15px 0;

        label,
        input,
        button {
            display: inline-block;
        }

        label {
            width: 50%;
        }
    }

    button {
        color: var(--gm-btn-text-color);
        background-color: var(--gm-btn-bg-color);
        padding: 11px 25px;

        border-radius: 2px;
        border: none;
        transition: all 0.3s ease;
        text-transform: uppercase;
        outline: none;
        outline-style: none;

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: var(--gm-btn-bg-color-hover);
        }

        &:disabled {
            pointer-events: none;
            transition: all 0.3s ease;
            background: var(--gm-btn-bg-color-disabled);
            color: var(--gm-btn-color-disabled);

            &:hover {
                color: var(--gm-btn-bg-color-disabled-hover);
            }
        }
    }

    label {
        display: block;
        margin-bottom: 3px;
    }

    input,
    textarea {
        // background-color: #444;
        background: transparent;
        color: var(--gm-text-color);

        // border: 1px solid black;
        border: none;
        border-bottom: 1px solid var(--gm-underline-color);

        padding: 0 8px;
        width: 100%;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    select {
        color: initial;
    }

    input {
        height: 32px;
    }

    textarea {
        padding: 8px;
    }

    .gm-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url('../assets/images/ic-close-popup-default.svg') no-repeat top center;

        &:hover {
            cursor: pointer;
            background: url('../assets/images/ic-close-popup-hover.svg') no-repeat top center;
        }
    }
}

.gm-disabled-widget-pop-up {
    position: relative;
    &::before {
        position: absolute;
        right: 100%;
        top: -7px;
        font-size: 15px;
        font-family: Roboto, sans-serif;
        z-index: 20;
        padding: 12px 20px;
        margin-right: 10px;
        background-color: #303339;
        vertical-align: middle;
        content: 'Not\00a0 currently\00a0 supported';
        display: none;
    }

    &:hover::before {
        display: block;
    }
}

.gm-disabled-widget-icon {
    opacity: 0.3;
    pointer-events: none;
}
