/**
 * Widget window styles
 */
.gm-overlay {
    text-align: left;
    position: absolute;
    padding: 25px;
    width: 500px;
    left: calc(50% - 250px);
    min-height: 400px;
    top: 50px;
    background-color: var(--gm-modal-bg-color);
    color: var(--gm-text-color);
    border: none;
    border-radius: 2px;

    @media only screen and (max-width: $breakpoint-mobile) {
        max-width: 500px;
        width: calc(80% - 40px) !important;
        left: 10% !important;
    }

    transition: top 0.4s;
    -webkit-transition: top 0.25s ease-out;

    &.gm-hidden {
        top: -1000px;
    }

    // TODO delete when screencast and GPS will be reworked
    .gm-wrap:after,
    .gm-horizontal:after {
        display: table;
        content: ' ';
        clear: both;
    }

    //TODO used only in GPS,  delete when GPS will be reworked
    .gm-col {
        width: 50%;
        float: left;
        padding: 0 5px;
    }

    .gm-title {
        text-align: center;
        margin-bottom: 30px;
    }

    button {
        color: var(--gm-btn-text-color);
        background-color: var(--gm-btn-bg-color);
        padding: 11px 25px;

        border-radius: 2px;
        border: none;
        transition: all 0.3s ease;
        text-transform: uppercase;
        outline: none;
        outline-style: none;

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: var(--gm-btn-bg-color-hover);
        }

        &:disabled {
            pointer-events: none;
            transition: all 0.3s ease;
            background: var(--gm-btn-bg-color-disabled);
            color: var(--gm-btn-color-disabled);

            &:hover {
                color: var(--gm-btn-bg-color-disabled-hover);
            }
        }
    }

    label {
        display: block;
        margin-bottom: 3px;
    }

    input,
    textarea {
        // background-color: #444;
        background: transparent;
        color: var(--gm-text-color);

        // border: 1px solid black;
        border: none;
        border-bottom: 1px solid var(--gm-underline-color);

        padding: 0 8px;
        width: 100%;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    select {
        color: initial;
    }

    input {
        height: 32px;
    }

    textarea {
        padding: 8px;
    }

    // TODO delete this after rework all modal cause it's replaced by the new style .gm-modal-close-btn
    .gm-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url('../assets/images/ic-close-popup-default.svg') no-repeat top center;

        &:hover {
            cursor: pointer;
            background: url('../assets/images/ic-close-popup-hover.svg') no-repeat top center;
        }
    }
}

.gm-disabled-widget-pop-up {
    &::before {
        position: fixed;
        /**
        * working var, changed by js
        * TODO: evolve to a better solution in the story for tooltip
        */
        right: var(--gm-working-disabled-widget-pop-up-x);
        font-size: 15px;
        z-index: 20;
        padding: 12px 20px;
        margin-right: 10px;
        background-color: #303339;
        vertical-align: middle;
        content: 'Not\00a0 currently\00a0 supported';
        display: none;
        width: 200px;
    }

    

    &:hover::before {
        display: block;
    }
}

.gm-disabled-widget-icon {
    opacity: 0.3;
    pointer-events: none;
}

.gm-modal {
    text-align: left;
    position: absolute;
    width: 500px;
    left: calc(50% - 250px);
    top: 50px;
    background-color: var(--gm-modal-bg-color);
    color: var(--gm-text-color);
    border: none;
    border-radius: 2px;
    transition: top 0.4s;
    -webkit-transition: top 0.25s ease-out;
    display: flex;
    flex-direction: column;

    &.gm-hidden {
        top: -1000px;
    }

    label {
        color: var(--gm-primary-color);
        font-weight: bold;
        margin-bottom: $modal-label-mb;
        display: block;

    }
    .gm-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px $modal-x-padding;
        margin-bottom: 28px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.1em;
        border-bottom: 1px solid color-mix(in srgb, var(--gm-fourth-color), transparent 70%);
    }

    .gm-modal-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }

    .gm-modal-close-btn {
        mask-image: url('../assets/images/ic_close.svg');
        mask-repeat: no-repeat;
        mask-position: top center;
        mask-size: contain;
        -webkit-mask-image: url('../assets/images/ic_close.svg');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top center;
        -webkit-mask-size: contain;
        background-color: var(--gm-text-color);
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .gm-modal-body {
        padding: 0 $modal-x-padding 19px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .gm-separator {
        width: calc(100% + $modal-x-padding * 2);
        margin-left: -$modal-x-padding;
        margin-bottom: $spacing-m;
    }
}
