@use '../base/variables' as *;

/**
 * Widget window styles
 */
.device-renderer-instance {

    .gm-modal {
        text-align: left;
        position: absolute;
        width: 500px;
        left: calc(50% - 250px);
        top: 0px;
        background-color: var(--gm-secondary-color);
        color: var(--gm-on-secondary-color);
        border: none;
        border-radius: 2px;
        transition: top 0.4s;
        -webkit-transition: top 0.25s ease-out;
        display: flex;
        flex-direction: column;
        padding-bottom: $modal-y-padding;
        z-index: 100;
        box-shadow: 0px 1px 20px 0px rgba(0,0,0, 0.40);

        // handle overflow when the modal is too high
        overflow-y: auto;
        max-height: 100%;
        &.gm-visible {
            opacity: 1;
            transition:
                opacity 0.5s ease-in-out,
                visibility 0s 0s;
        }

        &.gm-hidden {
            opacity: 0;
            transform: translate(-2000px, -2000px);
            transition:
                opacity 0.5s ease-in-out,
                transform 0.5s ease-in-out 0.5s;
        }

        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 0, 0, 0.5);
        }
        
        .gm-section-line {
            margin-top: $spacing-s;
        }

        label {
            color: var(--gm-primary-color);
            font-weight: bold;
            padding-top: $spacing-s;
            padding-bottom: $spacing-l;
            display: block;
        }
        .gm-modal-header {
            padding-left: $modal-x-padding;
            padding-right: $modal-x-padding;
            padding-top: $modal-y-padding;
            margin-bottom: $spacing-s;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.1em;
            // If the widget height is higher than the viewport height, the modal is scrollable but the header will be sticky
            background: var(--gm-secondary-color);
            position: sticky;
            top: 0;
            z-index: 200;
            // Disable text selection, in order to avoid to select the text when dragging the modal
            user-select: none;

            .gm-modal-header-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: $spacing-s;

                .gm-modal-title {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                }

                .gm-modal-close-btn {
                    mask-image: url('../assets/images/ic_cross.svg');
                    mask-repeat: no-repeat;
                    mask-position: top center;
                    mask-size: contain;
                    -webkit-mask-image: url('../assets/images/ic_cross.svg');
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-position: top center;
                    -webkit-mask-size: contain;
                    background-color: var(--gm-on-secondary-color);
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .gm-modal-body {
            padding-left: $modal-x-padding;
            padding-right: $modal-x-padding;
            flex: 1;
            display: flex;
            flex-direction: column;
            user-select: none;

            .gm-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: $spacing-s;
            }
        }

        .gm-separator {
            width: calc(100% + $modal-x-padding * 2);
            margin-left: -$modal-x-padding;
        }
    }
}
