/**
 * Common renderer style
 */
.device-renderer-instance {
    text-align: center;
    height: 100%;

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    .invisible {
        opacity: 0;
    }

    .hidden {
        display: none !important;
    }

    &:focus {
        outline: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li img {
            width: 24px;
        }
    }

    hr {
        width: 100%;
        opacity: 0.2;
    }

    .gm {
        &-icon-button {
            display: block;
            width: 32px;
            height: 26px;
        }

        &-video-overlay {
            position: absolute;
            z-index: 1;
            cursor: pointer;
            background-color: $black;
            color: $white;
            text-align: center;
            display: block;
            width: calc(100% - 55px);
            height: 100%;
            left: 0;
            top: 0;
        }

        &-click-to-display {
            background: black url('../assets/images/ic_click_to_display_default.svg') no-repeat center;
            background-size: calc(150px + 10%);

            &:hover {
                background-image: url('../assets/images/ic_click_to_display_hover.svg');
            }
        }

        &-click-to-unmute {
            background-color: darken(#223140, 15%);
            background: darken(#223140, 15%) url('../assets/images/ic_icon_mute.svg') no-repeat center;
            background-position: 15px 20px;
            background-size: 30px;
            border-radius: 8px;
            font-size: 15px;
            text-align: left;
            font-family: Roboto, sans-serif;
            padding: 16px 20px 17px 60px;
            position: absolute;
            z-index: 1;
            color: $white;
            display: block;
            width: 80%;
            max-width: 380px;
            min-height: 66px;
            top: calc(86% - 34px);
            cursor: pointer;
        }

        &-overlay-cant-connect {
            background: black url('../assets/images/ic_error_default.svg') no-repeat center 40%;
            background-size: 200px;
            font-size: 28px;
            font-family: Roboto, sans-serif;
            font-weight: 300;
            padding-top: 10%;

            .gm-error-text {
                position: absolute;
                top: calc(40% + 140px);
                width: 90%;
                padding-left: 10%;
            }

            p {
                font-size: 50%;
                font-weight: normal;
            }

            a {
                color: $btn-background-color;
            }
        }
    }

    .gm-wrapper {
        background-color: #1a1a1a;
        height: 100%;
        display: grid;
        grid-template-columns: auto min-content;
        grid-template-rows: 100%;
        grid-gap: 10px;

        > * {
            transition: opacity 0.5s;
        }
        &.waitingForStream {
            background: transparent url('../assets/images/loader.svg') center no-repeat;
            background-size: 40%;
            > * {
                opacity: 0;
            }
        }

        &.phoneBorder {
            .gm-video {
                border: 8px solid #cbcecb;
                border-radius: 27px;
                outline: 7px solid #242424;
                outline-offset: -13px;
            }
        }

        .gm-video-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            .gm-video {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: fit-content;
                align-self: center;
            }
        }
        .gm-toolbar-wrapper {
            background-color: var(--gm-toolbar-bg-color);
            min-width: 50px;
            max-height: 100%;
            position: relative;
        }
        .gm-toolbar-wrapper::-webkit-scrollbar {
            display: none;
        }

        .gm-toolbar {
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            display: flex;
            max-height: 100%;
            flex-direction: column;
            align-items: center;

            ul {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}
.gm-loader {
    position: relative;
    &::after {
        content: '';
        width: 60%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20%;
        margin-top: 5%;
        background: transparent url('../assets/images/spinner-material.svg') center no-repeat;
        background-size: 100%;
        filter: inherit;
    }
}
