/**
 * Common renderer style
 */
.device-renderer-instance {
  text-align: center;

  *, *::after, *::before {
    box-sizing: border-box;
  }

  .invisible {
    opacity: 0;
  }

  .hidden {
    display: none !important;
  }

  &:focus {
    outline: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li img {
      width: 24px;
    }
  }

  .gm {
    &-video {
      margin: 0;
      max-width: 100%;
    }

    &-icon-button {
      display: block;
      width: 32px;
      height: 26px;
      margin: 16px auto 16px auto;
    }
  
    &-video-overlay {
      position: absolute;
      z-index: 1;
      cursor: pointer;
      background-color: $black;
      color: $white;
      text-align: center;
      display: block;
      width: calc(100% - 55px);
      height: 100%;
      left: 0;
      top: 0;
    }

    &-click-to-display {
      background: black url("../assets/images/ic_click_to_display_default.svg") no-repeat center;
      background-size: calc(150px + 10%);
  
      &:hover {
        background-image: url("../assets/images/ic_click_to_display_hover.svg");
      }
    }
  
    &-click-to-unmute {
      background-color: darken(#223140, 15%);
      background: darken(#223140, 15%) url("../assets/images/ic_icon_mute.svg") no-repeat center;
      background-position: 15px 20px;
      background-size: 30px;
      border-radius: 8px;
      font-size: 15px;
      text-align: left;
      font-family: Roboto, sans-serif;
      padding: 16px 20px 17px 60px;
      position: absolute;
      z-index: 1;
      color: $white;
      display: block;
      width: 80%;
      max-width: 380px;
      min-height: 66px;
      left: calc(10% - 30px);
      top: calc(86% - 34px);
      cursor: pointer;
      @media screen and (min-width: 475px) {
          left: calc(50% - 220px);
      }
    }
  
    &-overlay-cant-connect {
      background: black url("../assets/images/ic_error_default.svg") no-repeat center 40%;
      background-size: 200px;
      font-size: 28px;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      padding-top: 10%;
  
      .gm-error-text {
        position: absolute;
        top: calc(40% + 140px);
        width: 90%;
        padding-left: 10%;
      }
  
      p {
        font-size: 50%;
        font-weight: normal;
      }
  
      a {
        color: $btn-background-color;
      }
    }
  }
}
