/**
 * Common renderer style
 */
.device-renderer-instance {
    text-align: center;
    height: 100%;
    font-size: 14px;

    * {
        font-family: lato, sans-serif;
    }
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    .invisible {
        opacity: 0;
    }

    .hidden {
        display: none !important;
    }

    &:focus {
        outline: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li img {
            width: 24px;
        }
    }

    hr {
        width: 100%;
        opacity: 0.2;
    }

    .gm {
        &-icon-button {
            display: block;
            width: 30px;
            height: 30px;

            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
        }

        &-video-overlay {
            position: absolute;
            z-index: 1;
            cursor: pointer;
            background-color: #000;
            color: var(--gm-on-secondary-color);
            text-align: center;
            display: block;
            width: calc(100% - 55px);
            height: 100%;
            left: 0;
            top: 0;
        }

        &-click-to-display {
            background: black url('../assets/images/ic_click_to_display_default.svg') no-repeat center;
            background-size: calc(150px + 10%);

            &:hover {
                background-image: url('../assets/images/ic_click_to_display_hover.svg');
            }
        }

        &-click-to-unmute {
            background-color: darken(#223140, 15%);
            background: darken(#223140, 15%) url('../assets/images/ic_icon_mute.svg') no-repeat center;
            background-position: 15px 20px;
            background-size: 30px;
            border-radius: 8px;
            font-size: 15px;
            text-align: left;
            padding: 16px 20px 17px 60px;
            position: absolute;
            z-index: 1;
            color: var(--gm-on-secondary-color);
            display: block;
            width: 80%;
            max-width: 380px;
            min-height: 66px;
            top: calc(86% - 34px);
            cursor: pointer;
        }

        &-overlay-cant-connect {
            background: black url('../assets/images/ic_error_default.svg') no-repeat center 40%;
            background-size: 200px;
            font-size: 28px;
            font-weight: 300;
            padding-top: 10%;

            .gm-error-text {
                position: absolute;
                top: calc(40% + 140px);
                width: 90%;
                padding-left: 10%;
            }

            p {
                font-size: 50%;
                font-weight: normal;
            }

            a {
                color: var(--gm-primary-color);
            }
        }
    }

    .gm-wrapper {
        background-color: var(--gm-background-color);
        height: 100%;
        display: flex;

        > * {
            transition: opacity 0.5s;
        }
        &.waitingForStream {
            mask-image: url('../assets/images/loader.svg');
            -webkit-mask-image: url('../assets/images/loader.svg');
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            background-size: 40%;
            background-color: var(--gm-on-background-color);
            > * {
                opacity: 0;
            }
        }

        &.phoneBorder {
            .gm-video {
                border: 8px solid #cbcecb;
                border-radius: 27px;
                outline: 7px solid #242424;
                outline-offset: -13px;
            }
        }

        .gm-video-wrapper {
            flex: 1;
            display: flex;
            justify-content: center;
            max-height: 100%;

            margin: auto;
            // calc through JS
            aspect-ratio: 0;
            .gm-video {
                max-width: 100%;
                max-height: 100%;
                align-self: center;

                height: 100%;
                z-index: 0;
            }
            .gm-phone-button {
                margin-left: -3px;
                margin-top: clamp(50px, 15%, 85px);
                margin-right: 10px;
                &:before {
                    content: ' ';
                    display: block;
                    width: 8px;
                    height: clamp(50px, 70px, 5%);
                    background: #a8b0ad;
                    border-radius: 6px;
                }
                &:after {
                    content: ' ';
                    display: block;
                    margin-top: 20px;
                    width: 8px;
                    height: clamp(80px, 120px, 10%);
                    background: #a8b0ad;
                    border-radius: 3px;
                    max-height: 31%;
                }
            }
        }
    }
}
.gm-loader {
    position: relative;
    &::after {
        content: '';
        width: 60%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20%;
        margin-top: 5%;
        background: transparent url('../assets/images/spinner-material.svg') center no-repeat;
        background-size: 100%;
        filter: inherit;
    }
}

.gm-separator {
    width: 100%;
    height: 1px;
    border: 1px solid var(--gm-tertiary-color);
    margin: $spacing-s 0;
}

.gm-btn {
    max-height: 40px;
    height: 40px;
    border: none;
    background: none;
    text-transform: uppercase;
    color: var(--gm-on-secondary-color);
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;

    &:hover {
        background: var(--gm-primary-variant-color);
        color: var(--gm-primary-color);
    }
    &:disabled {
        color: var(--gm-tertiary-color);
        background: none;
        cursor: default;
    }
}
