/**
 * SASS variables
 */

// General use
$white:                             #ffffff;
$black:                             #000000;
$accent-color-light:                #e6195e;

// Responsive breakpoint
$breakpoint-mobile:                 650px;

// Elements
$btn-background-color:              #e6195e;
$btn-background-color-hover:        #c62c53;
$btn-disabled-background:           rgba(179, 179, 179, 0.24);
$btn-disabled-color:                #c4c4c4;
$btn-disabled-background-hover:     #828282;
$modal-background-color:            #303339;
$succes-color:                      #11b920;
$btn-hover-background-color:        #2c2C2C;

//Spacing
$spacing-xxs:                       2px;
$spacing-xs:                        5px;
$spacing-s:                         10px;
$spacing-m:                         15px;
$spacing-l:                         20px;
$spacing-xl:                        30px;

