/**
* CSS variables
*/
:root {
    /** Colors **/
    --gm-text-color: #ffffff;
    --gm-primary-color: #e6195e;
    --gm-secondary-color: #292929;
    --gm-success-color: #11b920;
    --gm-warning-color: #ffcc00;
    --gm-error-color: #ff0000;

    /** Player **/
    --gm-player-bg-color: var(--gm-secondary-color);
    --gm-loader-color: var(--gm-text-color);

    /** Toolbar **/
    --gm-toolbar-bg-color: var(--gm-secondary-color);
    --gm-toolbar-icon-color: #e8eaed;
    --gm-toolbar-icon-color-hover: var(--gm-primary-color);

    /** Button **/
    --gm-btn-text-color: var(--gm-text-color);
    --gm-btn-bg-color: var(--gm-primary-color);
    --gm-btn-bg-color-hover: var(--gm-primary-color);
    --gm-btn-bg-color-disabled: rgba(179, 179, 179, 0.24);
    --gm-btn-bg-color-disabled-hover: #828282;
    --gm-btn-color-disabled: #c4c4c4;

    /** Input **/
    --gm-input-text-color: var(--gm-text-color);

    /** Design **/
    --gm-underline-color: var(--gm-text-color);

    /** Modal **/
    --gm-modal-bg-color: var(--gm-secondary-color);
}

/**
 * SASS variables
 */

// Responsive breakpoint
$breakpoint-mobile: 650px;

//Spacing
$spacing-xxs: 2px;
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 30px;
