/**
* CSS variables
*/
:root {
    --gm-primary-color: rgba(230, 25, 94, 1);
    --gm-on-primary-color: rgba(255, 255, 255, 1);
    --gm-primary-variant-color: rgba(230, 25, 94, 0.2);
    --gm-on-primary-variant-color: rgba(230, 25, 94, 1);
    --gm-secondary-color: #292929;
    --gm-on-secondary-color: #ffffff;
    --gm-secondary-variant-color: #212121;
    --gm-on-secondary-variant-color: #ffffff;
    --gm-tertiary-color: #c4c4c44d;
    --gm-on-tertiary-color: #ffffff;
    --gm-tertiary-variant-color: #c4c4c4;
    --gm-on-tertiary-variant-color: #1a1a1a;
    --gm-background-color: #1a1a1a;
    --gm-on-background-color: #ffffff;
    --gm-surface-color: #292929;
    --gm-on-surface-color: #ffffff;
    --gm-error-color: rgba(255, 17, 17, 1);
    --gm-background-error-color: rgba(255, 17, 17, 0.1);
    --gm-success-color: rgba(17, 185, 32, 1);
    --gm-background-success-color: rgba(17, 185, 32, 0.1);
    --gm-warning-color: rgba(255, 204, 0, 1);
    --gm-background-warning-color: rgba(255, 204, 0, 0.1);
    --gm-gradiant-1: linear-gradient(142.33deg, #e6195e 4.58%, #2b41ea 122.31%);
    --gm-on-gradiant-1: rgba(255, 255, 255, 1);
    --gm-gradiant-2: linear-gradient(275.69deg, #e6195e 10.31%, #2b41ea 136.09%);
    --gm-on-gradiant-2: rgba(255, 255, 255, 1);

    /* Keep for compatibility while all plugin aren't refacto*/
    /** Button **/
    --gm-btn-text-color: var(--gm-text-color);
    --gm-btn-bg-color: var(--gm-primary-color);
    --gm-btn-bg-color-hover: var(--gm-primary-color);
    --gm-btn-bg-color-disabled: rgba(179, 179, 179, 0.24); // TODO
    --gm-btn-bg-color-disabled-hover: #828282;
}

/**
 * SASS variables
 */

// Responsive breakpoint
$breakpoint-mobile: 650px;

// Spacing
$spacing-xxs: 2px;
$spacing-xs: 5px;
$spacing-s: 8px;
$spacing-m: 13px;
$spacing-l: 18px;
$spacing-xl: 28px;

$spacing-gap: 34px;

// Modal
$modal-x-padding: 30px;
$modal-section-mb: $spacing-xl;
$modal-label-mb: $spacing-m;
