.gm-template-player_partial {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    min-height: 800px;
    height: 100%;
    background-color: black;
}

.gm-template-player_partial .gm-wrapper {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.gm-template-player_partial .gm-video-wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.gm-template-player_partial .gm-video {
    position: relative;
    top: 0;
    left: 0;
    width: calc(95% - 50px);
    height: 100%;
    padding: 0;
    background: transparent url("../../assets/images/loader.svg") center no-repeat;
    background-size: 40%;
}

.gm-template-player_partial .gm-toolbar {
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 5px;
    margin: 0;
    width: 50px;
}

.gm-template-player_partial .gm-version-number {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 2;
    color: white;
}

@media only screen and (max-width: 650px)  {
    .gm-overlay {
        left: auto;
        width: calc(100vw - 100px);
        right: 55px;
        min-height: 0;
    }
}

@media only screen and (min-width: 475px)  {
    .gm-click-to-unmute {
        left: calc(50% - 190px) !important;
    }
}
